<nav style="align-items: baseline;" class="navbar navbar-expand-lg navbar-light bg-light">
    <div style="display: flex;align-items: center;">
        <i (click)="toggle()" style="cursor: pointer;margin-right: 20px;position: relative;" class="fas fa-align-justify icontoggle"></i>
        <a class="navbar-brand" style="display: flex; flex-direction: row; align-items: center;" [routerLink]="['/']">
            <p class="text-logo" style="color: #fc7a00;">Censo </p><img style="width: 100px" height="100%" src="assets/LogoLoteka.png" /> 
        </a>
    </div>    
</nav>